body{
    background-color: yellow;
}
#Heading{
    color: white;
    background: black;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}
.ballContainer{ 
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    border: 5px solid blue;
    border-radius: 20px;
    max-height: 600px; 
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto 20px 50px;
}
.greenball{
    background-color: green;
}
.ball{ 
    border: 5px solid black;
    width: 150px; 
    height: 150px;
    margin: 30px 80px; 
    border-radius: 90px;
}
#redball{
    background-color: #ff0000;
}
#resetButton{
    color: white;
    font-weight: bold;
    background-color: black;
    margin: 40px 20px;
    height: 40px;
    width: 70px;
}